# Ignore virtual environments
.venv/
env/

# Ignore IDE configs
.vscode/
.idea/

# Ignore build artifacts
__pycache__/
build/
dist/

# Ignore logs
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

